<nav class="flex items-center justify-center flex-wrap bg-red-500 p-6">
  <div class="">
    <img
      class="object-cover w-16 h-16"
      src="/fotos/ball.png"
      alt="Logo Tienda"
    />
  </div>
  <div class="w-full flex flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex lg:justify-center w-full">
      <a
        href="/#"
        class="mt-4 lg:mt-0 font-bold text-xl text-orange-200 hover:text-white mr-10"
        >Inicio</a
      >
      <a
        href="/zapatillas"
        class="mt-4 lg:mt-0 font-bold text-xl text-orange-200 hover:text-white mr-10"
        >Zapatillas</a
      >
      <a
        href="/Lifestyle"
        class="mt-4 font-bold lg:mt-0 text-xl text-orange-200 hover:text-white mr-10"
        >Lifestyle</a
      >
      <a
        href="/Nba"
        class="mt-4 font-bold lg:mt-0 text-xl text-orange-200 hover:text-white mr-10"
        >NBA</a
      >
    </div>
  </div>
</nav>
